includes:
	- extension.neon
	- rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	excludePaths:
		- tests/*/data/*
	ignoreErrors:
		-
			message: '#Instanceof between Nette\\Application\\IPresenterFactory and Nette\\Application\\IPresenterFactory will always evaluate to true#'
			path: '*/Nette/PresenterResolver.php'
			reportUnmatched: false
			count: 1
